<div class="diagonal-background-testimonials-before">
    <!-- this is an empty element -->
</div>
<section class="testimonials" ng-controller="HomeSimulatorCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{sectionTitle}}</h2>
            </div>
            <div class="col-xs-12 text-center">
                <h3 class="text-primary">{{sectionDesc}}</h3>
                <p>{{sectionContent}}</p>
                <!--
                    <em>
                        Lorrain Ipsum, Plymouth
                    </em>
                -->
            </div>
            <!--
                <div class="col-xs-2 col-sm-6">
                    <img class="img-responsive" src="assets/img/slider-3.jpg"/>
                </div>
            -->
        </div>
    </div>
</section>
<!--
    testimonials
-->
<div class="diagonal-background-testimonials-after">
    <!-- this is an empty element -->
</div>
